#{extends 'main.html' /}
<script>
								
			$(document).ready(function(){
				$("#documentacion").addClass("active");
			}
			);
		
		</script>

	              <div class="panel panel-primary">
	  
					 
						<div class="panel-heading">
							<div class="panle-tittle"><b>Documentación Requerida</b></div>
						</div>
			
						
							<div class="panel-body" >
							       
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Seleccione la Maestría: </label>
                                 <div class="col-md-7">
                                    	 <select id="maestria" name="maestria" class="form-control selectpicker">
                                    		<option>Maestría en Planeamiento y Gestión Educativa</option>
                                    		<option>Maestría en Gestión de Energías</option>
                                    		<option>Maestría en Gestión de la Producción</option>
										</select>
		
                                 </div>			
							
							</div>
							<br>
							<br>

							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Recibo de Pago de Inscripción Efectuado en la Tesorería (Escaneado): </label>
                                 <div class="col-md-7">
                                 		 <br>
                                    	 <input  type="file" name="recibo" id="recibo" required >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Curriculum (Máximo 2 Hojas): </label>
                                 <div class="col-md-7">
                                    	 <input  type="file" name="curriculum" id="curriculum" required >
                                 </div>			
							</div>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia de la Cédula (Escaneado): </label>
                                 <div class="col-md-7">
                                    	 <input  type="file" name="cedula" id="cedula" required >
                                 </div>			
							</div>
							<br>
							<br>
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia del Certificado de Votación (Escaneado): </label>
                                 <div class="col-md-7">
                                    	 <input  type="file" name="votacion" id="votacion" required >
                                 </div>			
							</div>
							<br>
							<br>
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia del Título de Tercer Nivel (Escaneado): </label>
                                 <div class="col-md-7">
                                    	 <input  type="file" name="titulo" id="titulo" required >
                                 </div>			
							</div>
							<br>
							<br>
							
								
								
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Registro del Título de Tercer Nivel de la SENESCYT (Escaneado): </label>
                                 <div class="col-md-7">
                                 		<br>
                                    	 <input  type="file" name="registro" id="registro" required >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Certificado de la Suficiencia del idioma Extranjero (Escaneado): </label>
                                 <div class="col-md-7">
                                 		<br>
                                    	 <input  type="file" name="Suficiencia" id="suficiencia" required >
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Copia de Artículos Publicados en Revistas Indexadas ( Si lo Tuviere Escaneado): </label>
                                 <div class="col-md-7">
                                 		<br>
                                    	 <input  type="file" name="Suficiencia" id="suficiencia">
                                 </div>			
							</div>
							<br>
							<br>
							<br>
							
							
					
				
							<div class="form-group">
								 
                                 <div class="col-md-12">
                                    	 <button type="submit" class="form-control btn btn-primary"><b>GUARDAR</b></button>
                                 </div>			
							</div>
							<br>
							<br>
						 	
						 </div>	<!--panel body  -->
					 
					 </div><!--panel info  -->
					 	
