#{extends 'main.html' /}
	<script>
								
			$(document).ready(function(){
				$("#trabajo").addClass("active");
			}
			);
		
		</script>
    
	              <div class="panel panel-primary">
	  
					 
						<div class="panel-heading">
							<div class="panle-tittle"><b>Información del Trabajo</b></div>
						</div>
			
						
							<div class="panel-body" >
							       
							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Lugar de Trabajo: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="lugar" id="lugar" class="form-control" required placeholder="Nombre de la Institución">
		
                                 </div>			
							
							</div>
							<br>
							<br>

							<div class="form-group">
							 <label for="" class="col-md-5 control-label text-right" id="msj1">Télefono del Trabajo: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="telefono" id="telefono" class="form-control" required placeholder="Celular o Convencional">
                                 </div>			
							</div>
							<br>
							<br>
							
					
							    
							<div class="form-group">
								 <label for="" class="col-md-5 control-label text-right" id="msj1">Dirección del Trabajo: </label>
                                 <div class="col-md-7">
                                    	 <input  type="text" name="direccion" id="direccion" class="form-control" required placeholder="Número, Calles, Ciudad">
                                 </div>			
							</div>
							<br>
							<br>
							
							<div class="form-group">
								 <label for="" class="col-md-5 control-label text-right" id="msj1">E-mail del Trabajo: </label>
                                 <div class="col-md-7">
                                    	 <input  type="email" name="email" id="email" class="form-control" required placeholder="Correo Electrónico del trabajo">
                                 </div>			
							</div>
							<br>
							<br>
							<div class="form-group">
								 
                                 <div class="col-md-12">
                                    	 <button type="submit" class="form-control btn btn-primary"><b>GUARDAR</b></button>
                                 </div>			
							</div>
							<br>
							<br>
						 	
						 </div>	<!--panel body  -->
					 
					 </div><!--panel info  -->
					 	