#{extends 'main.html' /}

<!--Inicio -> Para activar el item en TABS -->
<script>
	$(document).ready(function() {
		$("#registro").addClass("active");
		
		$("#nam").blur(function() {			
			if (!validar_nombre($("#nam").val())) 
				$( "#n" ).text( "Ingrese datos correctos" );
			else
				$( "#n" ).text( "" );
		});
		$("#ape").blur(function() {			
			if (!validar_nombre($("#ape").val())) 
				$( "#a" ).text( "Ingrese datos correctos" );
			else
				$( "#a" ).text( "" );
		});

	});
	
	function validar_nombre(valor) {
		var noms
		var reg = /^([a-z ñáéíóú]{2,60})$/i;
		if (reg.test(valor))
			return true;
		else
			return false;
	}

</script>
<!-- FIN -> Para activar el item en TABS -->

<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-user"></span><strong>Nuevo
			Usuario</strong>
	</div>
	<div class="panel-body">




		<form class="form-horizontal" role="form" id="datos"
			action="@{Security.nuevo()}">
			<div class="form-group">
				<label class="col-lg-2 control-label">Nombres:</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" placeholder="Nombres"
						name="nombre" id="nam" required="required"> <span
						class="label label-danger " id="n"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Apellidos</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" placeholder="Apellidos"
						name="apellido" id="ape" required="required"> <span
						class="label label-danger " id="a"></span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-lg-2 control-label">E-mail:</label>
				<div class="col-lg-10">
					<input type="email" class="form-control"
						placeholder="yo@correo.com" required="required" id="email"
						name="email">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">Contraseña</label>
				<div class="col-lg-10">
					<input type="password" class="form-control"
						placeholder="Contraseña" required="required" name="clave">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-success">Enviar</button>
				</div>
			</div>
		</form>
	</div>
</div>

